.container {
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
}
::\-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.nav-box {
  display: flex;
  justify-content: space-around;
}

.history {
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

.history_onClick {
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  border-bottom: 3px solid blue;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.profile-list {
}

.profile-item {
  border-bottom: 1px solid black;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
